<table width="100%" border="0" align="left" cellpadding="9" cellspacing="0">
  <tr valign="top">
	  <td colspan="3"><h2>#notmanhouse</h2></td>
  </tr>
	<tr valign="top">
	  <td width="305"><img src="images/map.png"></td>
		<td width="100%"><strong>Notman House</strong><br />51 Sherbrooke St W<br />Montreal, Quebec H2X4C9<br /><br /><a href="#">@notmanhouse</a><br /><a href="#">notmanhouse.com</a></td>
		<td width="217"><img src="images/tweets.png"></td>
  </tr>
</table>

<br clear="all" />