<h1>Montreal Trending Foursquare Venues and Hashtagged Tweets</h1>

<script type="text/javascript">
var auto_refresh = setInterval(
function ()
{
$('#venues').load('foursquare/trending?ll=<%=params[:ll]%>').fadeIn("slow");
}, 10000); // refresh every 10000 milliseconds

</script>

<div id="venues">Loading...</div>